@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>HomePage</PageTitle>
<FluentGrid Spacing="3"  Style="background-color: var(--neutral-layer-3);">
    
     @foreach (var phone in Phones) {
        @if(phone.Discount !=1){
        <FluentGridItem xs="6" sm="3">
            @{ var resultPrice = @phone.BasePrice -(@phone.BasePrice * @phone.Discount);}
            <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="@phone.ImageUrl" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> @phone.Model</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">@phone.BasePrice.ToString("C")</span>
                                        @resultPrice.ToString("C")
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Mua Ngay</a></div>
                            </div>
                        </div>
                    </div>

        </FluentGridItem>
        }
        else{
            <FluentGridItem xs="6" sm="3">
            @{ var resultPrice = @phone.BasePrice -(@phone.BasePrice * @phone.Discount);}
            <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@phone.ImageUrl" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> @phone.Model</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span>@phone.BasePrice.ToString("C")</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Mua Ngay</a></div>
                            </div>
                        </div>
                    </div>

        </FluentGridItem>
        }
}

</FluentGrid>


@code{
    List<Phone> Phones = new List<Phone>();
    protected override async Task OnInitializedAsync()
    {
    Phones = await HttpClient.GetFromJsonAsync<List<Phone>>(NavigationManager.BaseUri + "phones");
    }

}
