<FluentHeader Style="background-color: black; height: 60px; margin-bottom: 0; font-weight: normal;">
    <div class="grid-component" style="width: 100%;">
        <FluentGrid Style="max-width: 1200px; margin: auto;" Justify="JustifyContent.SpaceBetween">
            <FluentGridItem Justify="JustifyContent.FlexStart">
                <FluentStack style="justify-content: center;" VerticalAlignment="VerticalAlignment.Center"
                    Orientation="Orientation.Horizontal">
                    <span><i class="nav-logo"></i></span>
                    <div class="divider">
                        <FluentDivider Style="height: 2em; background-color: red;" Role="DividerRole.Separator"
                            Orientation="Orientation.Vertical"></FluentDivider>
                    </div>
                    <span><i class="nav-autho"></i></span>
                </FluentStack>
            </FluentGridItem>
            <FluentGridItem class="nav-menu" Style="@showNavMenu" Justify="JustifyContent.Center">
                <ul class="nav-container">
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhonePagination())"
                            class="navset">Điện Thoại</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhoneDesktop())"
                            class="navset">Laptop</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Tablet())"
                            class="navset">
                            Tablet</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Headphones())"
                            class="navset">Phụ Kiện</FluentNavLink>
                    </li>
                </ul>

            </FluentGridItem>

            <FluentGridItem Justify="JustifyContent.FlexEnd">
                <FluentStack style="justify-content: center;" VerticalAlignment="VerticalAlignment.Center"
                    Orientation="Orientation.Horizontal">
                    <div class="nav-search-icon" @onclick="ToggleSearch">
                        <FluentIcon Value="@(new Icons.Regular.Size24.Search())" Color="@Color.Fill" />
                    </div>
                    <FluentSearch Style="@searchStyle" Placeholder="Placeholder"></FluentSearch>
                    <div title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                        <FluentIcon Value="@(new Icons.Regular.Size24.AlignSpaceEvenlyVertical())"
                            Color="@Color.Fill" />
                    </div>
                </FluentStack>           
            </FluentGridItem>
        </FluentGrid>
    </div>
</FluentHeader>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="background-color: black; color: white;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhonePagination())">Điện Thoại
                </FluentNavLink>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhoneDesktop())">Laptop
                </FluentNavLink>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Tablet())">Tablet
                </FluentNavLink>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Headphones())">Phụ Kiện
                </FluentNavLink>
            </NavLink>
        </div>
    </nav>
</div>

@* <div class="bg-sg" Style="@bgSg"></div> *@

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "un-collapse";
    private bool showSearch = false;
    private string searchStyle = "align-items: center; display: none;";
    private string bgSg = "display: none;";
    private string showNavMenu = "align-items: center;";
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSearch()
    {
        showSearch = !showSearch;
        if (showSearch)
        {
            searchStyle = "align-items: center; display: block;";
            bgSg = "display: block;";

        }
        else
        {
            searchStyle = "display: none;";
        }
    }
}