@* <FluentHeader Height="70" Style="background-color: black;">
    <FluentGrid Justify="JustifyContent.Center" >
        <FluentGridItem  md="10">
            <FluentGrid Justify="JustifyContent.SpaceBetween" xs="6" sm="3">
                <FluentGridItem Justify="JustifyContent.FlexStart" md="3">
                    <div class="logo">
                        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                            <span><i class="nav-logo"></i></span>
                            <FluentDivider Style="height: 2em;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
                            <span><i class="nav-autho"></i></span>
                        </FluentStack>
                    </div>
                </FluentGridItem>

                <FluentGridItem Style=" align-items: center;" Justify="JustifyContent.Center" md="6">
                    <ul class="navcontainer">
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhonePagination())" class="navset">Điện Thoại</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhoneDesktop())" class="navset">Laptop</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Tablet())" class="navset">Tablet</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Headphones())" class="navset">Phụ Kiện</FluentNavLink>
                    </li>
                    </ul>

                </FluentGridItem>

                <FluentGridItem Justify="JustifyContent.FlexEnd" md="3">
                    <FluentStack Style="align-items: center;" Orientation="Orientation.Horizontal">
                        <div class="nav-search-icon" @onclick="ToggleSearch">
                            <FluentIcon Value="@(new Icons.Regular.Size24.Search())" Color="@Color.Fill"/>
                        </div>
                        <FluentSearch Style="@searchStyle" Placeholder="Placeholder"></FluentSearch>
                    </FluentStack>
                </FluentGridItem>
            </FluentGrid>
        </FluentGridItem>
    </FluentGrid>
</FluentHeader>

@code {
    private bool showSearch = false;
    private string searchStyle = "align-items: center; visibility: hidden;";

    private void ToggleSearch()
    {
        showSearch = !showSearch;
        searchStyle = $"align-items: center; visibility: {(showSearch ? "visible" : "hidden")};";
    }
} *@

<FluentHeader Style="background-color: black; height: auto; margin-bottom: 0; font-weight: normal;">
    <FluentGrid Justify="JustifyContent.Center" >
        <FluentGridItem  md="10">
            <FluentGrid Justify="JustifyContent.SpaceBetween" xs="6" sm="3">
                <FluentGridItem Justify="JustifyContent.FlexStart" md="3">
                    <div class="logo">
                        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                            <span><i class="nav-logo"></i></span>
                            <FluentDivider Style="height: 2em;" Role="DividerRole.Separator" Orientation="Orientation.Vertical"></FluentDivider>
                            <span><i class="nav-autho"></i></span>
                        </FluentStack>
                    </div>
                </FluentGridItem>
                <FluentGridItem class="nav-menu" Style="@showNavMenu" Justify="JustifyContent.Center" md="6">
                    <ul class="navcontainer">
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhonePagination())" class="navset">Điện Thoại</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhoneDesktop())" class="navset">Laptop</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Tablet())" class="navset">Tablet</FluentNavLink>
                    </li>
                    <li>
                        <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Headphones())" class="navset">Phụ Kiện</FluentNavLink>
                    </li>
                    </ul>

                </FluentGridItem>

                <FluentGridItem Justify="JustifyContent.FlexEnd" md="3">
                    <FluentStack Style="align-items: center;" Orientation="Orientation.Horizontal">
                        <div class="nav-search-icon" @onclick="ToggleSearch">
                            <FluentIcon Value="@(new Icons.Regular.Size24.Search())" Color="@Color.Fill"/>
                        </div>
                        <FluentSearch Style="@searchStyle" Placeholder="Placeholder"></FluentSearch>
                        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                            <FluentIcon class="navbar-toggler-icon" Value="@(new Icons.Regular.Size24.AlignSpaceEvenlyVertical().WithColor("#ffffff"))" />
                        </button>
                    </FluentStack>
                </FluentGridItem>
            </FluentGrid>
        </FluentGridItem>
    </FluentGrid>
</FluentHeader>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="background-color: black; color: white;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhonePagination())">Điện Thoại</FluentNavLink>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.PhoneDesktop())">Laptop</FluentNavLink>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Tablet())">Tablet</FluentNavLink>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <FluentNavLink IconColor="@Color.Fill" Icon="@(new Icons.Regular.Size20.Headphones())">Phụ Kiện</FluentNavLink>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "un-collapse";
    private bool showSearch = false;
    private string searchStyle = "align-items: center; display: none;";

    private string showNavMenu  = "align-items: center;";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSearch()
    {
        showSearch = !showSearch;
        if(showSearch){
            searchStyle = "align-items: center; display: block;";
        }else{
            searchStyle = "display: none;";
        }
    }
}